{% extends 'base.html' %}

{% block main %}
<!--Fuentes  -->
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

<div class="container">
    <h1 class="site-heading text-center">
      <span class="site-heading-upper text-primary mb-3">Título principal</span>
    </h1>

    <div class="descripcion">
      Somos una restaurante nuevo,  el cual tiene la misión de llevarte todo a tu casa,
      pensamos lograrlo atravez del uso de esta aplición web.<br>
      <br>
      Esto con el objetivo de que no tenga contacto con el personal y no se infecte de una enfermedad
      tal como  podría ser el covid
    </div>
      
     
      
      <style media="screen">
        .descripcion{
          
          height: 70%;
          width: 70%;
          background: white;
          text-align: center;
          font-family: 'Fredoka One', cursive;
          font-size: larger;
          margin-left: 6em;
          border: solid 1em #E6A756 ;
        }
      </style>
</div>
{% endblock %}
