
{% extends 'base.html' %}
{% block main %}

<link href="https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap" rel="stylesheet">
<h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Vea los pedidos que ha hecho  hasta ahora</span>
    <!--span class="site-heading-lower">Business Casual</span-->
  </h1>

  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/pizza.jpg" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4 titulo-pedido">
                <span class="section-head-ing-upper">Historial</span>
              </h2>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock main %}
