{% extends 'base.html' %}
{% block main %}

<h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Vea los pedidos que faltan</span>
    <!--span class="site-heading-lower">Business Casual</span-->
  </h1>
 
  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/pizza.jpg" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4 titulo-pedido">
                <span class="section-head-ing-upper">Pedidos</span>
              </h2>
             
              {% if lista_pedidos %}
              <ul>
                {% for pedido in lista_comida %}
                
                 <li>Este es el pedio {{pedido.id}} lo solicito, {{pedido.usuario}}, La fecha fue en {{pedido.fecha}} </li> 
                  Su pedido es :
                 {{ comida.nombre }}
                
                {% for comida in pedido.comidas %}
                <ul>
                  <li> {{comida.nombre}} </li>
                </ul> 
                {% endfor %}
                {% endfor %}
                
              </ul>
              {%else%}
              <p> No tienes ningun pedido :) </p>
              {% endif %}
      
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock main %}

    def listaComida():
      ordenes = Orden.object.all()
      for oden in ordenes:
        comidas= orden.comida.all()
        for comida in comidas:
          print(comida.nombre,comida.categoria)