{% extends 'base.html' %}

{% block main %}
<!-- <div class="page-section cta">
        <div class="container">
            <form class="cta-inner" action="." method="post" novalidate>
                {% csrf_token %}
                <fieldset>
                    <legend>Registro de usuarios nuevos</legend>

                    {% for field in form %}
                        <p>
                            <label>
                                {{ field.label }}
                                {{ field }}
                            </label>
                        </p>
                    {% endfor %}
                    <div>
                        {{ form.errors }}
                    </div>

                    <input type="submit" value="Enviar">
                </fieldset>
            </form>
        </div>
    </div> -->

<div class="page-section cta">
    <div class="container">
        <form action="." method="post" novalidate class="cta-inner">
            {% csrf_token %}
            <fieldset>
                <legend>Registro de usuarios nuevos</legend>

                <!-- {% for field in form %}
                    <div class="form-group row">
                        <label for="{{ field.name }}" class="col-sm-2 col-form-label">
                            {{ field.name }}
                        </label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="{{ form.name }}" name="{{ form.name }}">
                        </div>
                    </div>
                    {% if field.error is not None %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        El <strong>nombre se usuario</strong> es requerido
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    {% endfor %} -->
                {% for field in form %}
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">
                        {{ field.label }}
                        {{ field }}
                    </label>
                </div>
                {% endfor %}

                <input class="btn btn-primary" type="submit" value="Entrar">
            </fieldset>

        </form>
    </div>
</div>
{% endblock main %}
