{% extends 'base.html' %}

{% load static %}

{% block title %}Carrito{% endblock title %}


{% block main %}
<h1>Tu carrito de compras</h1>
<table class="cart">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Quitar</th>
            <th>Precio unitario</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        {% for comida in objetos %}
         <tr>
             <td>
                <a href="{{ comida.idComida.get_absolute_url }}">
                    <img src="{{ comida.idComida.imagen.url }}">
                </a>
            </td>
            <td>{{ comida.idComida }}</td>
            <td>{{ comida.cantidades }}</td>
            <td> <a href="{% url 'comida:element_cart_delete' comida.id %}">Quitar</a></td>
            <td class="num">${{ comida.idComida.precio }}</td>
            <td class="num">${{ comida.get_subtotal }}</td>
         </tr>
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">${{ comida.get_total_price }}</td>
        </tr>
    </tbody>
</table>

<p class="text-right">
    <a href="{% url 'comida:comidaHome' %}" class="button light">Continuar comprando</a>
    <a href="#" class="button">Ordenar</a>
</p>

{% endblock main %}
