{% extends 'base.html' %}

{% block title %}Comida{% endblock title %}

{% block main %}


{% for categoria in categorias %}
<h2 style="text-align:center">{{categoria.nombre}}</h2>
{% endfor %}
{% for comida in comidas %}
<div class="hover11">
    <div class="card"> 
        <img src="{{ comida.image }}" style="width:100%" />
        <h1>{{comida.nombre}}</h1>
        <p class="price">{{comida.precio}}</p>
        <p>{{comida.descripcion}}</p>
        <p><button>Add to Cart</button></p>
    </div>
</div>  
{% endfor %} 
{% endblock main %}