{% extends 'base.html' %}

{% load static %}

{% block title %}Categorias{% endblock title %}

{% block main %}
<h1 class="site-heading text-center text-white d-none d-lg-block">
  <span class="site-heading-upper text-primary mb-3"> Categorias </span>
</h1>
  <div class="hover11 column">
      {% for categoria in categorias %}
      <a href="/comida/categorias/{{ categoria.slug }}">
      <div class="crop">
      <figure><img src="{{ categoria.imagen.url }}"/> </figure>
      <span>{{categoria.nombre}} | {{categoria.descripcion}}</span></a>
      <a class="btn btn-danger" href="/comida/eliminarCategoria/{{categoria.id}}">Eliminar</a>
      </div>
      {% endfor %}
  </div>
{% endblock main %}
