{% extends 'base.html' %}

{% block title %}Comida{% endblock title %}

{% block main %}
{% endblock main %}

{% for categoria in categorias %}
<h2 style="text-align:center">{{nombre}}</h2>
{% end for %}
{% for comida in comidas %}
<div class="hover11">
    <div class="card"> 
        <img src="{{ image.model_pic.url }} style=width:100%" />
        <h1>{{nombre}}</h1>
        <p class="price">{{precio}}</p>
        <p>{{descripcion}}</p>
        <p><button>Add to Cart</button></p>
    </div>
</div>  
{% end for %} 
{% endblock main %}