#mainNav {
  background-color: fade-out($secondary, 0.1);
  @include heading-font;
  .navbar-brand {
    color: $primary;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: fade-out($white, 0.3);

        font-weight: 800;
      }
      &.active {
        .nav-link {
          color: $primary;
        }
      }
    }
  }
  @media (min-width: 992px) {
    .navbar-nav {
      .nav-item {
        .nav-link {
          font-size: 0.9rem;
          &:hover {
            color: fade-out($white, 0.6);
          }
        }
        &.active {
          .nav-link:hover {
            color: $primary;
          }
        }
      }
    }
  }
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  }

  .button1 {
    width: 140px;
    height: 45px;
    font-family: 'Oxanium', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-right: 1px;
  }

  .button1:hover {
    background-color: #00DE99;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  div a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    text-decoration: none;
    vertical-align: middle;
  }

}
