.product-item {
  @media (min-width: 992px) {
    .product-item-title {
      position: relative;
      z-index: 1;
      margin-bottom: -3rem;
    }
    .product-item-img {
      position: relative;
      z-index: 0;
      max-width: 60vw;
    }
    .product-item-description {
      position: relative;
      z-index: 1;
      margin-top: -3rem;
      max-width: 50vw;
    }
  }
}

//MENU


body { 
  -webkit-font-smoothing: antialiased; 
  text-rendering: optimizeLegibility; 
  font-family: 'Lato', sans-serif; 
  letter-spacing: 0px; 
  font-size: 16px; 
  color: #6e726e; 
  font-weight: 400; 
  line-height: 27px;



h1, h3, h4, h5, h6 { 
  color: #121312; 
  margin: 0px 0px 15px 0px; 
  font-weight: 400; 
  font-family: 'Zilla Slab', serif; 
}

h1 { 
  font-size: 38px; 
  line-height: 48px; 
}

h2 {
  text-align: center;
	padding: 0;
	font-weight: 300;
}
h2 span {
	margin-left: 1em;
	color: #aaa;
	font-size: 85%;
}
.column {
	margin: 80px 130px 40px;
	padding: 0;
}
.column:last-child {
	padding-bottom: 60px;
}
.column::after {
	display: block;
}
.column div {
	text-align: center;;
	float: left;
	width: 300px;
  height: 200px;
  margin-left: 125px;
  margin-right: 0px;
	// margin: 50px 100px 50px 100px;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
.column div span {
  text-align: center;;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}
figure {
	width: 300px;
	height: 200px;
	margin: 0;
  padding: 0;
  text-align: center;
	background: #fff;
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

h3 { 
  font-size: 26px; 
  line-height: 36px; 
}
h4 { 
  font-size: 20px; 
  line-height: 26px; 
}
h5 { 
  font-size: 16px; 
}
h6 { 
  font-size: 12px; 
}

p { 
  margin: 0 0 24px; 
  line-height: 1.6; 
}

p:last-child { 
  margin: 0px; 
}
ul, ol { 
  list-style: none; 
  margin: 0; 
  padding: 0; 
}

a {
  text-decoration: none; 
  color: #121312; 
  -webkit-transition: all 0.3s; 
  -moz-transition: all 0.3s; 
  transition: all 0.3s; 
}

a:focus, a:hover { 
  text-decoration: none; 
  color: #1aa644; 
}

.menu-block { 
  margin-bottom: 30px;
  background-color: fade-out(#FFFFFF,.15);
}
.menu-title { 
  border-bottom: 3px solid #e0e6e3; 
  margin-bottom: 36px; 
  padding-bottom: 10px; 
  text-align: center;
}
.menu-content { 
  border-bottom: 1px solid #e0e6e3; 
  margin-bottom: 30px; 
}

.dish-img { }

.dish-content { 
  margin-top: 12px; 
  margin-bottom: 40px; 
}

.dish-meta { 
  font-size: 12px; 
  text-transform: uppercase; 
  display: block; 
  width: 210px; 
  line-height: 1.7; 
}

.dish-title { 
  margin-bottom: 6px; 
  font-size: 15px; 
  text-transform: uppercase; 
  font-weight: 500; 
  position: relative; 
}

.dish-price { 
  position: absolute; 
  right: 16px; top: 0px; 
  font-size: 26px; 
  color: #e03c23; 
  font-weight: 500; 
  font-family: 'Zilla Slab', serif; 
}

.well-block .dish-meta { 
  width: 100%; 
}

.well-block .dish-price { 
  font-size: 26px; 
  color: #e03c23; 
  font-weight: 500; 
  font-family: 'Zilla Slab', serif; 
  position: inherit; 
}
}

/* Opacity #1 */
.hover11 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover11 figure:hover img {
	opacity: .5;
}


.crop {
  width: 200px;
  height: 150px;
}

.crop img {
  width: 400px;
  height: 300px;
  margin: -55px 0 0 -50px;
}
// Productos individuales
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin-left: 50px;
  text-align: center;
  font-family: arial;
  display: inline-block;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.innercard{
  display: inline-block;
}

