{% extends 'base.html' %}
{% block header %}
<h1 class="site-heading text-center text-white d-none d-lg-block">
  <span class="site-heading-upper text-primary mb-3">Agrega una nueva Categoria !! </span>
</h1>
{% endblock header %}
{% block main %}
  <!-- Navigation -->
  <div class="page-section cta">
    <div class="container">
      <div class="intro">
        <div class="cta-inner text-center rounded">
          {% if messages %}
          {% for message in messages %}
              <div{% if message.tags == "success" %} class="alert alert-success" role="alert"{% endif %}> {{ message }}</div>
              {% endfor %}
              {% endif %}
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper"> -Categoria- </span>
              </h2>
              <form action="." method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% for field in form %}
                <p>
                  {{ field.errors }}
                  {{ field.label_tag }}
                  {{ field }}
                </p>
                {% endfor %}
                <input class="btn btn-primary btn-sm" value="Agregar" type="submit">
              </form>
            </div>
          </div>
        </div>
      </div>

{% endblock main %}
